* {
	margin: 0;
}
:root {
	--Orange: hsl(26, 100%, 55%);
	--Paleorange: hsl(25, 100%, 94%);
	--Verydarkblue: hsl(220, 13%, 13%);
	--Darkgrayishblue: hsl(219, 9%, 45%);
	--Grayishblue: hsl(220, 14%, 75%);
	--Lightgrayishblue: hsl(
		223,
		64%,
		98%
	);
	--White: hsl(0, 0%, 100%);
	/*--Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);*/
}
header {
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: kumbh;
}
::-webkit-scrollbar {
	display: none;
}
@font-face {
	font-family: kumbh;
	src: url(/fonts/KumbhSans[YOPQ\,wght].ttf);
}
.that {
	width: 100%;
	height: 150vh;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	display: none;
}
.bigimage {
	display: flex;
	justify-content: center;
}
.sectas {
	display: flex;
	width: 90%;
	justify-content: space-between;
	position: absolute;
	align-items: center;
}
.previous,
.next {
	background-color: white;
	padding: 10px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 100vmax;
	cursor: pointer;
}
.previous {
	left: 0;
}
.next {
	right: 0;
}
@media only screen and (max-width: 320px) {
	header {
		justify-content: space-between;
		background-color: var(--White);
		padding: 12px;
		padding-top: 20px;
		padding-bottom: 16px;
		width: 92%;
		align-items: center;
		z-index: 1;
	}
	nav {
		display: none;
	}
	.logoimg {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		margin-left: 3px;
	}
	.avatar {
		width: 20px;
		height: 20px;
	}
	.rightimgs {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-right: 10px;
	}
	main {
		height: fit-content;
	}
	.logo {
		width: 100px;
		height: 2.8vh;
		padding-bottom: 4px;
	}
	.menu {
		width: 13px;
		height: 10px;
	}
	.cart {
		width: 17px;
		height: 17px;
	}
	.cart-top-result {
		position: absolute;
		font-size: 7px;
		top: 20%;
		right: 16%;
		background-color: var(--Orange);
		padding: 2px;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
		border-radius: 100vmax;
		color: var(--White);
		display: none;
	}
	.smallimages {
		border: 2px solid;
		display: flex;
		display: none;
	}
	.smallimages img {
		width: 20px;
		cursor: pointer;
	}
	section {
		display: flex;
		width: 100%;
		height: fit-content;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menumobile {
		display: none;
	}
	.menumobile img {
		padding-bottom: 10px;
	}
	.menumobile a {
		text-decoration: none;
		color: black;
		opacity: 90%;
		font-weight: 600;
		font-size: 14px;
	}
	.left {
		width: 100%;
	}
	.bigimage {
		width: 100%;
		height: 50vh;
		background-image: url(/images/image-product-1.webp);
		background-size: cover;
	}
	.sectas {
		top: 38%;
	}
	.right {
		width: 90%;
	}
	h1 {
		font-size: 12px;
		color: var(--Orange);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	h2 {
		padding-bottom: 10px;
		color: black;
		opacity: 75%;
	}
	.these {
		font-size: 13px;
		padding-bottom: 16px;
		color: var(--Darkgrayishblue);
	}
	.price,
	.priceinside {
		display: flex;
		align-items: center;
	}
	.priceinside {
		gap: 10px;
	}
	.price {
		justify-content: space-between;
	}
	.onetwofive {
		font-weight: bold;
		font-size: 24px;
		color: black;
		opacity: 75%;
	}
	.fifty {
		background-color: var(--Paleorange);
		color: var(--Orange);
		padding: 3px;
		border-radius: 5px;
		font-size: 12px;
		font-weight: 600;
		padding-left: 4px;
		padding-right: 4px;
	}
	.twofivezero {
		text-decoration: line-through;
		font-size: 12px;
		color: var(--Grayishblue);
	}
	.simbols {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-bottom: 10px;
	}
	.simbols2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(
			--Lightgrayishblue
		);
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
		border-radius: 10px;
	}
	.zero {
		font-weight: 600;
	}
	.minus,
	.plus {
		cursor: pointer;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--Orange);
		color: var(--White);
		border: none;
		padding: 12px;
		border-radius: 4px;
		gap: 8px;
		font-weight: 600;
		font-size: 12px;
		box-shadow: 5px 10px 10px 10px
			var(--Paleorange);
		cursor: pointer;
	}
	.thumbnail1 {
		width: 40px;
		height: 40px;
		border-radius: 3px;
	}
	.middle {
		display: flex;
		flex-direction: column;
	}
	.numbers {
		display: flex;
		gap: 5px;
		padding-top: 5px;
	}
	.basket {
		display: none;
	}
	.baskettitle {
		text-align: left;
		padding-bottom: 15px;
		border-bottom: 1px solid
			var(--Grayishblue);
	}
	.empty-message {
		padding-top: 40px;
		color: var(--Darkgrayishblue);
		display: none;
	}
	.basketdata {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		color: var(--Darkgrayishblue);
		padding-top: 0;
		padding-bottom: 5px;
	}
	.fall {
		font-size: 14px;
		font-weight: 500;
	}
	.numbers p {
		font-size: 13px;
	}
	.result {
		color: black;
		font-weight: 600;
	}
	.left {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.checa {
		background-color: var(--Orange);
		color: var(--White);
		border: none;
		padding: 13px;
		border-radius: 7px;
		font-weight: 600;
		cursor: pointer;
	}
	footer {
		padding-top: 20px;
	}
}
@media only screen and (min-width: 320px) {
	header {
		justify-content: space-between;
		background-color: var(--White);
		padding: 12px;
		padding-top: 20px;
		padding-bottom: 16px;
		width: 92%;
		align-items: center;
		z-index: 1;
	}
	nav {
		display: none;
	}
	.logoimg {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		margin-left: 3px;
	}
	.avatar {
		width: 20px;
		height: 20px;
	}
	.rightimgs {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-right: 10px;
	}
	main {
		height: fit-content;
	}
	.logo {
		width: 100px;
		height: 2.8vh;
		padding-bottom: 4px;
	}
	.menu {
		width: 13px;
		height: 10px;
	}
	.cart {
		width: 17px;
		height: 17px;
	}
	.cart-top-result {
		position: absolute;
		font-size: 7px;
		top: 20%;
		right: 16%;
		background-color: var(--Orange);
		padding: 2px;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
		border-radius: 100vmax;
		color: var(--White);
		display: none;
	}
	.smallimages {
		display: flex;
		display: none;
	}
	.smallimages img {
		width: 20px;
		cursor: pointer;
	}
	section {
		display: flex;
		width: 100%;
		height: fit-content;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menumobile {
		display: none;
	}
	.menumobile img {
		padding-bottom: 10px;
	}
	.menumobile a {
		text-decoration: none;
		color: black;
		opacity: 90%;
		font-weight: 600;
		font-size: 14px;
	}
	.left {
		width: 100%;
	}
	.bigimage {
		width: 100%;
		height: 50vh;
		background-image: url(/images/image-product-1.webp);
		background-size: cover;
	}
	.sectas {
		top: 33%;
	}
	.right {
		width: 90%;
	}
	h1 {
		font-size: 12px;
		color: var(--Orange);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	h2 {
		padding-bottom: 10px;
		color: black;
		opacity: 75%;
	}
	.these {
		font-size: 13px;
		padding-bottom: 16px;
		color: var(--Darkgrayishblue);
	}
	.price,
	.priceinside {
		display: flex;
		align-items: center;
	}
	.priceinside {
		gap: 10px;
	}
	.price {
		justify-content: space-between;
	}
	.onetwofive {
		font-weight: bold;
		font-size: 24px;
		color: black;
		opacity: 75%;
	}
	.numbers {
		display: flex;
		gap: 5px;
		padding-top: 5px;
	}
	.simbols {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-bottom: 10px;
	}
	.simbols2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(
			--Lightgrayishblue
		);
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
		border-radius: 10px;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--Orange);
		color: var(--White);
		border: none;
		padding: 12px;
		border-radius: 4px;
		gap: 8px;
		font-weight: 600;
		font-size: 12px;
		box-shadow: 5px 10px 10px 10px
			var(--Paleorange);
		cursor: pointer;
		width: 100%;
	}
	.basket {
		display: none;
	}
	.baskettitle {
		text-align: left;
		padding-bottom: 15px;
		border-bottom: 1px solid
			var(--Grayishblue);
	}
	.empty-message {
		padding-top: 40px;
		color: var(--Darkgrayishblue);
		display: none;
	}
	.basketdata {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		color: var(--Darkgrayishblue);
		padding-top: 0;
		padding-bottom: 5px;
	}
	.thumbnail1{
		width: 45px;
		height: 45px;
		border-radius: 3px;
	}
	.fall {
		font-size: 14px;
		font-weight: 500;
	}
	.numbers p {
		font-size: 13px;
	}
	.result {
		color: black;
		font-weight: 600;
	}
	.left {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.checa {
		background-color: var(--Orange);
		color: var(--White);
		border: none;
		padding: 13px;
		border-radius: 7px;
		font-weight: 600;
		cursor: pointer;
	}
	footer {
		padding-top: 20px;
	}
}
@media only screen and (min-width: 375px) {
	header {
		width: 94%;
	}
	.avatar {
		width: 25px;
		height: 25px;
	}
	.logo {
		width: 110px;
		height: 3vh;
	}
	.menu {
		width: 16px;
		height: 13px;
	}
	.cart {
		width: 19px;
		height: 19px;
	}
	.cart-top-result {
		right: 15%;
	}
	.bigimage {
		height: 60vh;
	}
	.sectas {
		top: 42%;
	}
	.right {
		width: 90%;
	}
	h1 {
		font-size: 15px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
	h2 {
		font-size: 25px;
	}
	.these {
		font-size: 15px;
	}
	.onetwofive {
		font-size: 28px;
	}
	.fifty {
		font-size: 14px;
	}
	.twofivezero {
		font-size: 14px;
	}
	.simbols {
		gap: 12px;
	}
	.simbols2 {
		padding: 10px;
	}
}
@media only screen and (min-width: 375px) and (min-height:900px) {
	.avatar {
		width: 30px;
		height: 30px;
	}
	.logo {
		width: 110px;
		height: 2.3vh;
	}
	.menu {
		width: 20px;
		height: 2vh;
	}
	.cart {
		width: 25px;
		height: 25px;
	}
	.cart-top-result {
		right: 16%;
		top: 12%;
		font-size: 10px;
	}
	.bigimage {
		height: 38vh;
	}
	.sectas {
		top: 25%;
	}
	.right {
		width: 87%;
	}
	h1 {
		font-size: 18px;
		padding-top: 18px;
		padding-bottom: 16px;
	}
	h2 {
		font-size: 30px;
	}
	.these {
		font-size: 15px;
	}
	.onetwofive {
		font-size: 30px;
	}
	.fifty {
		font-size: 16px;
	}
	.twofivezero {
		font-size: 16px;
	}
	.simbols2 {
		padding: 12px;
	}
	.button {
		padding: 18px;
		border-radius: 12px;
		gap: 14px;
		font-weight: 700;
		font-size: 17px;
	}
	footer{
		padding-top: 50px;
	}
	.attribution{
		font-size: 14px;
	}
	.menumobile .close{
		width: 18px;
		height: 18px;
	}
	.menumobile a{
		font-size: 20px;
		padding-top: 12px;
	}
}
@media only screen and (min-width:414px){
	.avatar {
		width: 30px;
		height: 30px;
	}
	.logo {
		width: 110px;
		height: 2.3vh;
	}
	.menu {
		width: 20px;
		height: 2vh;
	}
	.cart {
		width: 25px;
		height: 25px;
	}
	.cart-top-result {
		right: 15%;
		top: 12%;
		font-size: 11px;
	}
	.bigimage {
		height: 40vh;
	}
	.sectas {
		top: 25%;
	}
	h1 {
		font-size: 18px;
		padding-top: 18px;
		padding-bottom: 16px;
	}
	h2 {
		font-size: 30px;
	}
	.these {
		font-size: 17px;
	}
	.onetwofive {
		font-size: 32px;
	}
	.fifty {
		font-size: 18px;
	}
	.twofivezero {
		font-size: 18px;
	}
	.simbols2 {
		padding: 14px;
	}
	.zero{
		font-size: 20px;
	}
	.button {
		padding: 20px;
		border-radius: 12px;
		font-size: 18px;
	}
	footer{
		padding-top: 30px;
	}
	.attribution{
		font-size: 16px;
	}
}
@media only screen and (min-width:414px) and (min-height:600px){
	.avatar {
		width: 28px;
		height: 28px;
	}
	.logo {
		width: 120px;
		height: 3vh;
	}
	.cart-top-result {
		right: 14%;
		font-size: 10px;
	}
	.bigimage {
		height: 60vh;
	}
	.sectas {
		top: 38%;
	}
	h1 {
		font-size: 15px;
	}
}
@media only screen and (min-width: 425px) {
	.logo {
		width: 115px;
		height: 4vh;
	}
	.menu {
		width: 18px;
		height: 14px;
	}
	.cart {
		width: 22px;
		height: 22px;
	}
	.cart-top-result {
		right: 13%;
	}
	.bigimage {
		height: 70vh;
	}
	.sectas{
		top: 45%;
	}
	h1 {
		font-size: 17px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	h2 {
		font-size: 29px;
	}
	.these {
		font-size: 17px;
	}
	.onetwofive {
		font-size: 30px;
	}
	.fifty {
		font-size: 15px;
	}
	.twofivezero {
		font-size: 16px;
	}
	.simbols {
		gap: 12px;
	}
	.simbols2 {
		padding: 12px;
	}
	.button {
		padding: 15px;
	}
}
@media only screen and (min-width: 768px) {
	header {
		width: 96.8%;
	}
	.logoimg {
		gap: 20px;
	}
	.logo {
		width: 125px;
		height: 4vh;
	}
	.menu {
		width: 25px;
		height: 20px;
	}
	.avatar {
		width: 27px;
		height: 27px;
	}
	.cart {
		width: 25px;
		height: 25px;
	}
	.cart-top-result {
		right: 7.5%;
		font-size: 10px;
	}
	.bigimage {
		height: 90vh;
	}
	.basketdata {
		border: 2px solid red;
	}
	.thumbnail1 {
		width: 110px;
		height: 110px;
	}

	.fall {
		font-size: 25px;
	}
	.numbers .N1 {
		font-size: 20px;
	}
	.numbers .N2 {
		font-size: 20px;
	}
	.numbers .result {
		font-size: 20px;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 33px;
	}
	.these {
		font-size: 24px;
	}
	.onetwofive {
		font-size: 33px;
	}
	.fifty {
		font-size: 17px;
	}
	.twofivezero {
		font-size: 18px;
	}
	.minus,
	.plus {
		width: 15px;
	}
	.zero {
		font-size: 20px;
	}
	.button {
		padding: 15px;
		font-size: 18px;
	}
	.button img {
		width: 20px;
		height: 21px;
	}
}
@media only screen and (min-width: 992px) {
	header {
		width: 85%;
		border-bottom: .1px solid var(--Darkgrayishblue);
	}
	.menu {
		display: none;
	}
	.logo{
		width: 190px;
		cursor: pointer;
	}
	.avatar,.cart{
		cursor: pointer;
	}
	.avatar{
		width: 40px;
		height: 40px;
	}
	.cart-top-result{
		right: 6.5%;
		font-size: 12px;
	}
	nav {
		display: block;
		display: flex;
		gap: 12px;
	}
	.isso{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
	nav a {
		text-decoration: none;
		font-size: 20px;
		color: var(--Darkgrayishblue);
	}
	section {
		height: 80vh;
		width: 80%;
		flex-direction: row;
		gap: 35px;
	}
	.left {
		border-radius: 12px;
		width: 75%;
		height: 55vh;
	}
	.smallimages .sneaker1{
		opacity: 0.7;
		border: 3px solid var(--Orange);
	}
	.bigimage {
		border-radius: 12px;
		height: 90vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.smallimages {
		display: block;
		width: 100%;
		padding-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.smallimages img {
		width: 60px;
		border-radius: 8px;
	}
	.smallimages .sneaker1{
		opacity: 0.7;
		border: 3px solid var(--Orange);
	}
	.simbols {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		gap: 2px;
		padding-top: 20px;
	}
	.simbols2{
		width: 35%;
	}
	.sectas {
		display: none;
	}
	h1 {
		font-size: 17px;
	}
	h2 {
		font-size: 33px;
		width: 80%;
	}
	.these {
		font-size: 16px;
	}
	.onetwofive {
		font-size: 33px;
	}
	.fifty {
		font-size: 17px;
		background-color: var(--Paleorange);
		padding: 5px;
		color: var(--Orange);
		border-radius: 5px;
		font-weight: 800;
	}
	.twofivezero {
		font-size: 16px;
		color: var(--Darkgrayishblue);
		text-decoration: line-through;
	}
	.price{
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}
	.minus,
	.plus {
		width: 15px;
		cursor: pointer;
	}
	.zero {
		font-size: 20px;
	}
	.button {
		padding: 15px;
		font-size: 18px;
		width: 55%;
	}
	.button img {
		width: 20px;
		height: 21px;
	}
}
@media only screen and (min-width:1024px) and (min-height:600px){
	.left {
		border-radius: 12px;
		width: 70%;
		height: 65vh;
	}
}
@media only screen and (min-width: 1272px) and (min-height:611px){
	header {
		width: 85%;
		border-bottom: .1px solid var(--Darkgrayishblue);
	}
	.menu {
		display: none;
	}
	.logo{
		width: 170px;
		cursor: pointer;
	}
	.avatar,.cart{
		cursor: pointer;
	}
	.avatar{
		width: 40px;
		height: 40px;
	}
	.cart-top-result{
		right: 6.5%;
		font-size: 12px;
	}
	nav {
		display: block;
		display: flex;
		gap: 12px;
	}
	nav a {
		text-decoration: none;
		font-size: 20px;
		color: var(--Darkgrayishblue);
	}
	section {
		height: 80vh;
		width: 80%;
		flex-direction: row;
		gap: 80px;
	}
	.left {
		border-radius: 12px;
		width: 60%;
		height: 75vh;
	}
	.smallimages .sneaker1{
		opacity: 0.7;
		border: 3px solid var(--Orange);
	}
	.bigimage {
		border-radius: 12px;
		height: 90vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.smallimages {
		display: block;
		width: 100%;
		padding-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.smallimages img {
		width: 60px;
		border-radius: 8px;
	}
	.smallimages .sneaker1{
		opacity: 0.7;
		border: 3px solid var(--Orange);
	}
	.simbols {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		gap: 2px;
		padding-top: 20px;
	}
	h1 {
		font-size: 15px;
	}
	h2 {
		font-size: 40px;
		width: 90%;
	}
	.these {
		font-size: 19px;
	}
	.onetwofive {
		font-size: 33px;
	}
	.twofivezero {
		font-size: 16px;
		color: var(--Darkgrayishblue);
		text-decoration: line-through;
	}
	.price{
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}
	.zero {
		font-size: 20px;
	}
	.button {
		padding: 15px;
		font-size: 18px;
		width: 55%;
	}
	.button img {
		width: 20px;
		height: 21px;
	}
}